doctype html
html
  head
    meta(charset="utf-8")
    title= 'iLoominate: Storybook App'

    // 3rd party libraries
    link(href="/antihighlight/jquery.antihighlight.css", rel="stylesheet", type="text/css")
    link(href="/bootstrap.min.css", rel="stylesheet", type="text/css")
    link(href="/jqime/css/jquery.ime.css", rel="stylesheet", type="text/css")
    link(href="/pbs/engine/css/engine.css", rel="stylesheet", type="text/css")

    // custom style
    link(href="/main.css", rel="stylesheet", type="text/css")

    if book && book.layout && book.layout.font && book.layout.font.name
      script(type="text/javascript") var font_name = "#{book.layout.font.name}";
      if book.layout.font.name.indexOf('Noto') > -1
        link(href="/noto-fonts.css", rel="stylesheet", type="text/css")
    else
      script(type="text/javascript") var font_name = "Arial";

  body
    input#csrf(type='hidden', name='_csrf', value=token)
    div.navbar.navbar-inverse.navbar-fixed-top(role="navigation")
      div.container
        div.navbar-header

        ul.nav.navbar-nav
          li.active
            a(href="/")
              span iLoominate&nbsp;&nbsp;
              span.translate Online

        ul.nav.navbar-nav.pull-right
          li
            a(href="#", data-toggle="dropdown")
              span.translate Language
              span &nbsp;▽
            include partials/languages
          if loggedin
            li
              a(href="#", data-toggle="dropdown")
                span.translate Word List
                span &nbsp;▽
              ul.dropdown-menu.wordlists(role="menu", aria-labelledby="dLabel")
                li.active(role="presentation")
                  a.translate(href="#", role="menuitem") Original
            li
              a#logout.translate(href="/logout") Log Out
          else
              li
                a.translate(href="/login") Log In
              li
                a.translate(href="/signup") Sign Up

    br
    br
    br

    div.container
      div.row
        div.col-xs-2
          div.list-group.page-list
            if book
              - for (var page_num = 1; page_num <= book.pages.length; page_num++)
                a.list-group-item(href="#")
                  h4.list-group-item-heading.translate Page #{page_num}
            else
              a.list-group-item.active(href="#")
                h4.list-group-item-heading.translate Page 1
                p.list-group-item-text.translate What is the story?
            div.list-group-item
              a.btn.btn-success.new-page.translate(href="#") Add Page

          div.list-group.book-options
            //
              a.list-group-item.guide(href="#")
                img.icon(src="/images/teacher_14016.png")
                span.translate Guide
            a.list-group-item.chooseicon(href="#")
              img.icon(src="/images/penguin_1986.png")
              span.translate Add Icon

            div.list-group-item
              a.btn.btn-info.pdfify.translate(href="#") Make into PDF
              .clearfix
            div.list-group-item
              a.btn.btn-info.upload.translate(href="#") Upload
              .clearfix


        div.col-lg-10
          noscript.translate Enable JavaScript!

          div.well.page

      canvas.preview.hide(width="500", height="300")
      canvas.color-change.hide(width="164", height="164")

    #wordmodal.modal.fade
      div.modal-dialog
        div.modal-content
          div.modal-header
            button.close(type="button", data-dismiss="modal", aria-hidden="true") x
            h3.translate Save Word List
          div.modal-body
            div.form-group
              label.translate(for="wordlistname") Name
              input#wordlistname.form-control(type="text", name="wordlistname")
            p Word list goes here
          div.modal-footer
            button.btn.btn-default.translate(type="button", data-dismiss="modal") Cancel
            button.save.btn.btn-primary.translate(type="button", data-dismiss="modal") Save

    include partials/icon_modal

    //
      #guidemodal.modal.fade
        div.modal-dialog
          div.modal-content
            div.modal-header
              button.close(type="button", data-dismiss="modal", aria-hidden="true") x
              h3.translate Guide
            div.modal-body
              div.form-group
                p Every story needs a hero. Use the beginning to introduce the main character of your story.
                label(for="maincharacter") Who is this story about?
                div.row.pickcharacter
                  ul.col-xs-4
                    li
                      strong Names
                    li
                      a(href="#") Pam
                    li
                      a(href="#") Sam
                    li
                      a(href="#") Dad
                  ul.col-xs-4
                    li
                      strong Animals
                    li
                      a(href="#") bird
                    li
                      a(href="#") cat
                    li
                      a(href="#") bat
                input#maincharacter.form-control(type="hidden", name="maincharacter")
              div.form-group.hide
                p
                  span Describe&nbsp;
                  span.aboutcharacter
                  span . Choose a word for how he / she / it is.
                input#aboutcharacter.form-control(name="aboutcharacter")

              button.btn.btn-info.translate.next(type="button") Next

            div.modal-footer
              button.btn.btn-default.translate(type="button", data-dismiss="modal") Cancel

    // 3rd party libraries
    script(type="text/javascript", src="/jquery-1.11.0.min.js")
    script(type="text/javascript", src="/antihighlight/jquery.antihighlight.js")

    script(type="text/javascript", src="/jspdf.min.js")

    script(type="text/javascript", src="/bootstrap.min.js")

    script(type="text/javascript", src="/polyglot.min.js")

    include partials/jquery_ime

    include partials/translate_page

    include partials/pbs_engine

    if book
      script(type="text/javascript") var load_book_id = "#{book._id}"; var load_book = !{JSON.stringify(book.pages)};
    else
      script(type="text/javascript") var load_book_id, load_book;

    script(type="text/javascript", src="/test.js")

    // script(type="text/javascript", src="/guide.js")

    include partials/analytics
