doctype html
html
  head
    meta(charset="utf-8")
    title= 'iLoominate: Storybook App'

    // 3rd party libraries
    link(href="/antihighlight/jquery.antihighlight.css", rel="stylesheet", type="text/css")
    link(href="/bootstrap.min.css", rel="stylesheet", type="text/css")
    link(href="/jqime/css/jquery.ime.css", rel="stylesheet", type="text/css")
    link(href="/pbs/engine/css/engine.css", rel="stylesheet", type="text/css")

    // custom style
    link(href="/main.css", rel="stylesheet", type="text/css")

    if book && book.layout && book.layout.font && book.layout.font.name
      if book.layout.font.name.indexOf('Noto') > -1
        link(href="/noto-fonts.css", rel="stylesheet", type="text/css")
      if book.layout.font.name.indexOf('web_') > -1
        link(href="/webfont-fonts.css", rel="stylesheet", type="text/css")

  body
    input#csrf(type='hidden', name='_csrf', value=token)
    div.navbar.navbar-inverse.navbar-fixed-top(role="navigation")
      div.container
        div.navbar-header

        ul.nav.navbar-nav
          li.active
            a(href="/")
              span iLoominate&nbsp;&nbsp;
              span.translate Online

        ul.nav.navbar-nav.pull-right
          li
            a(href="#", data-toggle="dropdown")
              span.translate Language
              span &nbsp;▽
            include partials/languages
          if loggedin
            li
              a(href="#", data-toggle="dropdown")
                span.translate Word List
                span &nbsp;▽
              ul.dropdown-menu.wordlists(role="menu", aria-labelledby="dLabel")
                li.active(role="presentation")
                  a.translate(href="#", role="menuitem") Original
            li
              a#logout.translate(href="/logout") Log Out
          else
              li
                a.translate(href="/login") Log In
              li
                a.translate(href="/signup") Sign Up

    br
    br
    br

    div.container
      div.row
        div.col-md-2
          div.list-group.page-list
            if book && book.pages.length
              - for (var page_num = 1; page_num <= book.pages.length; page_num++)
                a.list-group-item(href="#")
                  h4.list-group-item-heading.translate Page #{page_num}
            else
              a.list-group-item.active(href="#")
                h4.list-group-item-heading.translate Page 1
                p.list-group-item-text.translate What is the story?
            div.list-group-item
              a.btn.btn-success.new-page.translate(href="#") Add Page

          div.list-group.book-options
            div.list-group-item
              a.btn.btn-info.pdfify.translate(href="#") Make PDF
              .clearfix
            div.list-group-item
              a.btn.btn-info.upload.translate(href="#") Upload
              .clearfix


        div.col-md-10
          noscript Enable JavaScript!

          div.well.page

      canvas.preview.hide(width="500", height="300")
      canvas.color-change.hide(width="164", height="164")

    #wordmodal.modal.fade
      div.modal-dialog
        div.modal-content
          div.modal-header
            button.close(type="button", data-dismiss="modal", aria-hidden="true") x
            h3.translate Save Word List
          div.modal-body
            div.form-group
              label.translate(for="wordlistname") Name
              input#wordlistname.form-control(type="text", name="wordlistname")
            p Word list goes here
          div.modal-footer
            button.btn.btn-default.translate(type="button", data-dismiss="modal") Cancel
            button.save.btn.btn-primary.translate(type="button", data-dismiss="modal") Save

    include partials/icon_modal

    #pagemodal.modal.fade
      div.modal-dialog
        div.modal-content
          div.modal-header
            button.close(type="button", data-dismiss="modal", aria-hidden="true") x
            h3.translate Add Page
          div.modal-body
            div.row
              div.col-md-4
                h4.translate Text
                ul
                  if !book || !book.layout || !book.layout.text || book.layout.text.top
                    li
                      label
                        input.textposition(type="radio", name="top", value="text")
                        span.translate top of page
                  if !book || !book.layout || !book.layout.text || book.layout.text.bottom
                    li
                      label
                        input.textposition(type="radio", name="bottom", value="text")
                        span.translate bottom of page
                  if !book || !book.layout || !book.layout.text || book.layout.text.bg
                    li
                      label
                        input.textposition(type="radio", name="bg", value="text")
                        span.translate full page
              div.col-md-4
                h4.translate Image
                ul
                  if !book || !book.layout || !book.layout.image || book.layout.image.top
                    li
                      label
                        input.imgposition(type="radio", name="top", value="image")
                        span.translate top of page
                  if !book || !book.layout || !book.layout.image || book.layout.image.bottom
                    li
                      label
                        input.imgposition(type="radio", name="bottom", value="image")
                        span.translate bottom of page
                  if !book || !book.layout || !book.layout.image || book.layout.image.bg
                    li
                      label
                        input.imgposition(type="radio", name="bg", value="image")
                        span.translate background image (one page)
              div.col-md-4
                h4.translate Blank
                ul
                  li
                    label
                      input.blankposition(type="radio", name="top", value="blank")
                      span.translate top of page
                  li
                    label
                      input.blankposition(type="radio", name="bottom", value="blank")
                      span.translate bottom of page
                  li
                    label
                      input.blankposition(type="radio", name="bg", value="blank")
                      span.translate full page
          div.modal-footer
            button.btn.btn-default.translate(type="button", data-dismiss="modal") Cancel
            button.save.btn.btn-primary.translate(type="button", data-dismiss="modal") Save

    // 3rd party libraries
    script(type="text/javascript", src="/jquery-1.11.0.min.js")
    script(type="text/javascript", src="/antihighlight/jquery.antihighlight.js")

    script(type="text/javascript", src="/jspdf.min.js")

    script(type="text/javascript", src="/bootstrap.min.js")

    script(type="text/javascript", src="/polyglot.min.js")

    include partials/jquery_ime

    include partials/translate_page

    include partials/pbs_engine

    script(type="text/javascript", src="/pdfify.js")
    script(type="text/javascript", src="/pagecomponent.js")

    script(type="text/javascript") var load_book_id, load_book, cover, layout, font; var prefix = "";
    if book
      script(type="text/javascript") load_book_id = "#{book._id}"; load_book = !{JSON.stringify(book.pages)};
      if book.layout
        script(type="text/javascript") layout = !{JSON.stringify(book.layout)}; font = layout.font;
        if book.layout.cover
          script(type="text/javascript") cover = !{JSON.stringify(book.layout.cover)};

    script(type="text/javascript", src="/test.js")

    include partials/analytics
