doctype html
html
  head
    meta(charset="utf-8")
    title= 'iloominate: Storybook App'

    // 3rd party libraries
    link(href="/bootstrap.min.css", rel="stylesheet", type="text/css")

    // custom style
    link(href="/main.css", rel="stylesheet", type="text/css")

  body
    div.navbar.navbar-inverse.navbar-fixed-top(role="navigation")
      div.container
        div.navbar-header

        ul.nav.navbar-nav
          li.active
            a(href="/")
              span iLoominate&nbsp;&nbsp;
              span.translate Online

        ul.nav.navbar-nav.pull-right
          li
            a(href="#", data-toggle="dropdown")
              span.translate Language
              span &nbsp;▽
            ul#languageselect.dropdown-menu(role="menu", aria-labelledby="dLabel")
              li.en(role="presentation")
                a(href="?language=en", role="menuitem") English
              li.es(role="presentation")
                a(href="?language=es", role="menuitem") Español
              li.ht(role="presentation")
                a(href="?language=ht", role="menuitem") Kreyòl Ayisyen
              li.ne(role="presentation")
                a(href="?language=ne", role="menuitem") नेपाली
              li.ar(role="presentation")
                a(href="?language=ar", role="menuitem") العربية
    br
    br
    br

    div.container
      .row
        h1
          span.fa.fa-sign-in
          span.translate Log in
        if message.length
          div.alert.alert-danger #{message}

      .row
        .col-md-6
          h3 Welcome back to iLoominate!
          p Enter the e-mail and password for your account.

        .col-md-6
          form.well(action="/login", method="post")
            input(type='hidden', name='_csrf', value=token)
            .form-group
              label.translate Email
              input.form-control(type="text", name="email")
            .form-group
              label.translate Password
              input.form-control(type="password", name="password")
            button.btn.btn-warning.translate(type="submit") Log In

      .row
        .col-md-8
        .col-md-4
          h4 Forgot your password?
          form.well(action="/reset", method="post")
            input(type='hidden', name='_csrf', value=token)
            .form-group
              label.translate Email
              input.form-control(type="text", name="email")
            button.btn.btn-warning.translate(type="submit") Reset Password

    // 3rd party libraries
    script(type="text/javascript", src="/jquery-1.11.0.min.js")
    script(type="text/javascript", src="/bootstrap.min.js")
    script(type="text/javascript", src="/polyglot.min.js")

    // custom script
    script(type="text/javascript") var translations = !{translations};
    script(type="text/javascript")
      != 'var outOfChromeApp = true;'
