doctype html
html
  head
    meta(charset="utf-8")
    title= 'iloominate: Storybook App'

    // 3rd party libraries
    link(href="/bootstrap.min.css", rel="stylesheet", type="text/css")

    // custom style
    link(href="/main.css", rel="stylesheet", type="text/css")

  body
    include partials/main_menu

    div.container
      .row
        h1 Profile Page
      .row
        .col-md-6
          h3.translate Welcome to iLoominate!
          h3.translate You are signed in.
          a.btn.btn-large.btn-info(href="/user/#{user._id}") My Books
          br
          br
          a.btn.btn-large.btn-success(href="/make") New Book

        .col-md-6
          .well
            h3.translate About this user
            ul
              li ID #{user._id}
              li email #{user.local.email}

            h3.translate Team
            ul
              for team in user.teams
                if user.admin
                  li
                    span #{team}&nbsp;&nbsp;&nbsp;
                    a(href="/team/#{team}/manage")
                      span (
                      span.translate leader
                      span )
                else
                  li
                    a(href="/team/#{team}") #{team}

            h4.translate Join team
            form(action="/team/join", method="POST")
              input(type='hidden', name='_csrf', value=token)
              input.translate(type="input", name="teamname" placeholder="Team name")
              input.btn.btn-success.translate(type="submit" value="Ask to Join")

            br
            br

            h4.translate Lead new team
            form(action="/team/create", method="POST")
              input(type='hidden', name='_csrf', value=token)
              input.translate(type="input", name="teamname" placeholder="Team name")
              input.btn.btn-success.translate(type="submit" value="Create")

    // 3rd party libraries
    script(type="text/javascript", src="/jquery-1.11.0.min.js")
    script(type="text/javascript", src="/bootstrap.min.js")
    script(type="text/javascript", src="/polyglot.min.js")

    include partials/translate_page

    include partials/analytics
